body {
  background-color: #E4EFE7;
}

h1{
color: #5E454B
}

h3{
color: #5E454B
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

img {
  height: 200px;
}
